body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #345e42;
  }
  
  .box{
    width: 1300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #95ee88;
    text-align: center;
    box-shadow: 0 2vw 4vw -1vw black;
  }
  
  img{
    padding: 30px;
    margin: auto;
  }
  
  .nav {
    height: 97.5%;
    width: 280px;
    position: fixed;
    z-index: 1;
    background-color: #339125;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .nav h2{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px;
    padding-bottom: 30px;
  }
  
  .nav h1{
    padding: 25px 8px 25px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  .box button[type = "btn_exit"]{
    border: 0;
    background: none;
    margin-top: 60px;
    margin-left: 1000px;
    text-align: center;
    font-size: 14px;
    border: 3px solid #339125;
    padding: 5px;
    width: 100px;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box button[type = "btn_exit"]:focus{
    width: 100px;   
    border-color: #2ecc71;
  }
  .box button[type = "btn_exit"]:hover{
    background: #34ec81;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(21, 172, 33, 0.87);
    color: black;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 500px;
    padding: 1px;
    text-align: center;
    font-family: arial;
    font-size: 16px;
}
.card:hover{
    background: #34ec81;
}
.card h2{
    padding: 25px;
}
.card a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}