body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #345e42;
}

.box{
  width: 1300px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #95ee88;
  text-align: center;
  box-shadow: 0 2vw 4vw -1vw black;
}

img{
  padding: 30px;
  margin: auto;
}

.nav {
  height: 97.5%;
  width: 280px;
  position: fixed;
  z-index: 1;
  background-color: #339125;
  overflow-x: hidden;
  padding-top: 16px;
}

.nav h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px;
  padding-bottom: 30px;
}

.nav a {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}
.nav a:hover {
  color: #55d841;
}
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

.clock {
    background: #ececec;
    width: 300px;
    height: 300px;
    margin: 4% auto 0;
    border-radius: 50%;
    border: 14px solid #333;
    position: relative;
    left: 110px;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
}
.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
}
.hour-hand {
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 65px;
    background: #333;
    top: 79px;
    transform-origin: 50% 72px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 100px;
  background: #666;
  top: 46px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 105px;
}
.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 120px;
  background: gold;
  top: 26px;
  lefT: 50%;
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 125px;
}
span {
  display: inline-block;
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}
.h12 {
  top: 30px;
  left: 50%;
  margin-left: -9px;
}
.h3 {
  top: 140px;
  right: 30px;
}
.h6 {
  bottom: 30px;
  left: 50%;
  margin-left: -5px;
}
.h9 {
  left: 32px;
  top: 140px;
}
.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666a;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.info {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background: #ccc;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 11px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
  margin-left: -60px;
  left: 50%;
}
.date {
    top: 80px;
  }
.day {
    top: 200px;
}

.log{
  box-shadow: 0 4px 8px 0 rgba(21, 172, 33, 0.87);
  color: black;
  max-width: 300px;
  height: 100px;
  margin-top: 60px;
  margin-left: 605px;
  padding: 15px;
  text-align: center;
  font-family: arial;
  font-size: 16px;
}
.log input{
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #31e07a;
  width: 220px;
  outline: none;
  color: black;
  border-radius: 8px;
  transition: 0.25s;
}
.log input:focus{
  width: 250px;
  border-color: #2ecc71;
}

.log button{
    border: 0;
    background: none;
    font-size: 14px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 5px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.log button:focus{
    width: 150px;   
    border-color: #31e07a;
}
.log button:hover{
    background: #31e07a;
}